.flows.json.backup
[{"id":"d6fac98e.651838","type":"tab","label":"Report to Cache1","disabled":false,"info":""},{"id":"c18b992f.758a28","type":"tab","label":"Report to Cache2","disabled":false,"info":""},{"id":"f04213fa.c22b48","type":"MSSQL-CN","tdsVersion":"7_4","name":"Cache1 MSSQL","server":"cache-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"smsdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"81898769.b5aff8","type":"nats-streaming-server","server":"gravity-report-nats","port":"4222","cluster":"external-stan"},{"id":"b61f10da.9ee238","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mboker2","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"a2506feb.4395c8","type":"switch","z":"d6fac98e.651838","name":"Check Payload Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendRecordReplyProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordReplyProductCreate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1200,"y":3380,"wires":[["9085d068.426c2"],["9085d068.426c2"],["b4c111a4.07306"],["7de22074.356508"]]},{"id":"51432f37.5087b","type":"nats-streaming-subscribe","z":"d6fac98e.651838","name":"Send","server":"81898769.b5aff8","channel":"rowData.source.SendProduct","clientID":"report-atomic-001","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":920,"wires":[["5a658695.4793f"]]},{"id":"5a658695.4793f","type":"json","z":"d6fac98e.651838","name":"","property":"payload","action":"","pretty":false,"x":530,"y":920,"wires":[["12027b.aded7d85","1fedb28f.85c37d"]]},{"id":"57e99674.8ec748","type":"nats-streaming-subscribe","z":"d6fac98e.651838","name":"Send Record","server":"81898769.b5aff8","channel":"rowData.source.SendRecordProduct","clientID":"report-atomic-002","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-002","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":150,"y":1820,"wires":[["f7e65feb.01f7b8"]]},{"id":"f7e65feb.01f7b8","type":"json","z":"d6fac98e.651838","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1820,"wires":[["ddbbee5a.867a6","2b3c06a9.e67eaa"]]},{"id":"6b225fce.a8ff58","type":"nats-streaming-subscribe","z":"d6fac98e.651838","name":"Send record reply","server":"81898769.b5aff8","channel":"rowData.source.SendRecordReplyProduct","clientID":"report-atomic-003","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-003","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":310,"y":3380,"wires":[["5e6a14a5.bef4fc"]]},{"id":"5e6a14a5.bef4fc","type":"json","z":"d6fac98e.651838","name":"","property":"payload","action":"","pretty":false,"x":630,"y":3380,"wires":[["a2506feb.4395c8","c90d8eb5.1ff2a"]]},{"id":"d4c965ed.76719","type":"function","z":"d6fac98e.651838","name":"Convert Insert Send Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2500,"y":280,"wires":[["5d42fcb.82ae304"]]},{"id":"5d42fcb.82ae304","type":"debug","z":"d6fac98e.651838","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2870,"y":240,"wires":[]},{"id":"3226a83f.5adbd8","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3690,"y":240,"wires":[]},{"id":"86270aac.00667","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3440,"y":300,"wires":[["febdf765.aaaea8","3226a83f.5adbd8"],["73e67bde.dfa774"]]},{"id":"73e67bde.dfa774","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3690,"y":360,"wires":[]},{"id":"830b281d.a41008","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3100,"y":240,"wires":[]},{"id":"febdf765.aaaea8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3670,"y":300,"wires":[]},{"id":"8a769c44.d0f6b","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table for Success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3180,"y":300,"wires":[["86270aac.00667"]]},{"id":"47d5df57.6e922","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\nupdate INTO [dbo].[send] set event_code=@event_code, way_name=@way_name, send_from=@send_from, send_time=@send_from, expire_time=@expire_time, template_code=@template_code, template_max_length=@template_max_length, send_mode=@send_mode, limit_mode=@limit_mode, mod_reply=@mod_reply, status=@status, priority=@priority, msg_type=@msg_type, req_department=@req_department, req_bu=@req_bu, req_company=@req_company, req_channel=@req_channel, req_object_id=@req_object_id, req_batch_id=@req_batch_id, memo=@memo, create_time=@create_time, create_user=@create_user, update_time=@create_user, update_user=@update_user, completed_time=@completed_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time where uid=@uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2980,"y":540,"wires":[["1729155.60d08eb","f782295.4b89fd8"]]},{"id":"8f8c5f31.561a58","type":"function","z":"d6fac98e.651838","name":"Convert Send Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user=convert_uuid(msg.payload.create_user)\nmsg.payload.update_user=convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":520,"wires":[["12159c5d.3998dc","47d5df57.6e922"]]},{"id":"12159c5d.3998dc","type":"debug","z":"d6fac98e.651838","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":460,"wires":[]},{"id":"2a1fcd4f.ec280a","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3730,"y":460,"wires":[]},{"id":"65ccde46.9b2248","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3480,"y":540,"wires":[["41fa59da.aec978","2a1fcd4f.ec280a"],["59b009bb.8b6f1"]]},{"id":"59b009bb.8b6f1","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3750,"y":600,"wires":[]},{"id":"f782295.4b89fd8","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3140,"y":460,"wires":[]},{"id":"41fa59da.aec978","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3730,"y":540,"wires":[]},{"id":"1729155.60d08eb","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send table success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] Update Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":540,"wires":[["65ccde46.9b2248"]]},{"id":"aaff380d.74be98","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[send] WHERE uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3000,"y":800,"wires":[["e0aaecd2.f475d","56c32fdc.619928"]]},{"id":"8c76a78f.6a2058","type":"function","z":"d6fac98e.651838","name":"Convert Send Delete Payload","func":"function convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":780,"wires":[["b9550ecf.2f933","aaff380d.74be98"]]},{"id":"b9550ecf.2f933","type":"debug","z":"d6fac98e.651838","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2950,"y":740,"wires":[]},{"id":"66651f88.27279","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3770,"y":740,"wires":[]},{"id":"4f64bf02.ac8788","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3520,"y":800,"wires":[["66dac791.9d2468","66651f88.27279"],["2d8eee97.3cec92"]]},{"id":"2d8eee97.3cec92","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3770,"y":860,"wires":[]},{"id":"56c32fdc.619928","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3180,"y":740,"wires":[]},{"id":"66dac791.9d2468","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3770,"y":800,"wires":[]},{"id":"e0aaecd2.f475d","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":800,"wires":[["4f64bf02.ac8788"]]},{"id":"c159258d.de7e7","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4770,"y":900,"wires":[]},{"id":"57bc2e5e.ee0d5","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4670,"y":1240,"wires":[]},{"id":"cd900cad.83be7","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4670,"y":1360,"wires":[]},{"id":"250c64e4.2bcf74","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4670,"y":1480,"wires":[]},{"id":"5c351523.b55304","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":4650,"y":1420,"wires":[]},{"id":"23dfe1d2.0bf9ae","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4650,"y":1540,"wires":[]},{"id":"96945b35.624c88","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4650,"y":1660,"wires":[]},{"id":"444f6d0e.e7df54","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":4630,"y":1600,"wires":[]},{"id":"9085d068.426c2","type":"function","z":"d6fac98e.651838","name":"Convert Insert MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction truncate_string_length(value, length, allow_null=true) {\n\n if (typeof value === 'string' || value instanceof String) {\n\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n \n  return value.substring(0, length)\n  \n } else {\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n }\n}\n\nmsg.payload = msg.payload.payload\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = truncate_string_length(msg.payload.code,10)\nmsg.payload.DestNo = truncate_string_length(msg.payload.customer_phone,20)\nmsg.payload.MsgData = truncate_string_length(msg.payload.reply_content,256)\n\nmsg.send_record_reply_uid = msg.payload.UID\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":3080,"wires":[["e618abac.46e9c8","a3f2a4f3.aae808"]]},{"id":"a3f2a4f3.aae808","type":"debug","z":"d6fac98e.651838","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2180,"y":2960,"wires":[]},{"id":"e618abac.46e9c8","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"Cache MsgMo MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[MsgMo](UID,SerialNo,ReceiveTime,MID,DestNo,MsgData) values(@UID,@SerialNo,@ReceiveTime,@MID,@DestNo,@MsgData)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"UniqueIdentifier","valueType":"msg","value":"payload.SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"VarChar(?)","valueType":"msg","value":"payload.ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2350,"y":3120,"wires":[["8c26387d.6f11d8","fb883624.f29298"]]},{"id":"21916cd4.521c94","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3170,"y":3040,"wires":[]},{"id":"55cd3660.1ae038","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2920,"y":3120,"wires":[["e74b793f.9a6f08","21916cd4.521c94"],[]]},{"id":"8c26387d.6f11d8","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2500,"y":3040,"wires":[]},{"id":"e74b793f.9a6f08","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3150,"y":3120,"wires":[]},{"id":"fb883624.f29298","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.send_record_reply_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2660,"y":3120,"wires":[["55cd3660.1ae038"]]},{"id":"b4c111a4.07306","type":"function","z":"d6fac98e.651838","name":"Convert Update MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nfunction truncate_string_length(value, length, allow_null=true) {\n\n if (typeof value === 'string' || value instanceof String) {\n\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n \n  return value.substring(0, length)\n  \n } else {\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n }\n}\n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\n\nmsg.payload = msg.payload.payload\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = truncate_string_length(msg.payload.code,10)\nmsg.payload.DestNo = truncate_string_length(msg.payload.customer_phone,20)\nmsg.payload.MsgData = truncate_string_length(msg.payload.reply_content,256)\n\nmsg.send_record_reply_uid = msg.payload.UID\n\n\nreturn msg\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":3380,"wires":[["96299829.f2c6d8","8b40363b.4b6128"]]},{"id":"96299829.f2c6d8","type":"debug","z":"d6fac98e.651838","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2240,"y":3280,"wires":[]},{"id":"dddda066.de3118","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3130,"y":3320,"wires":[]},{"id":"7cc63f23.b6a2b","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2880,"y":3380,"wires":[["8e0afd46.6dbf8","dddda066.de3118"],[]]},{"id":"782c033c.69f924","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2580,"y":3280,"wires":[]},{"id":"8e0afd46.6dbf8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3110,"y":3380,"wires":[]},{"id":"78d40ef0.af4388","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.send_record_reply_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":3380,"wires":[["7cc63f23.b6a2b"]]},{"id":"7de22074.356508","type":"function","z":"d6fac98e.651838","name":"Convert Delete MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nmsg.payload = msg.payload.payload\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.send_record_reply_uid = msg.payload.UID\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":3840,"wires":[["a38b50a7.06cb18","c998bb98.31a968"]]},{"id":"a38b50a7.06cb18","type":"debug","z":"d6fac98e.651838","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2300,"y":3780,"wires":[]},{"id":"c998bb98.31a968","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"Cache MsgMo","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE from [dbo].[MsgMo] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2340,"y":3840,"wires":[["158cf5bb.2b84f2","7260ca54.1c478c"]]},{"id":"e32a644f.88d978","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3170,"y":3780,"wires":[]},{"id":"528f087b.dd9ed8","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2860,"y":3840,"wires":[["5d309080.97acf","e32a644f.88d978"],[]]},{"id":"158cf5bb.2b84f2","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2620,"y":3780,"wires":[]},{"id":"5d309080.97acf","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3170,"y":3840,"wires":[]},{"id":"7260ca54.1c478c","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.send_record_reply_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2620,"y":3840,"wires":[["528f087b.dd9ed8"]]},{"id":"d509976b.1c536","type":"switch","z":"d6fac98e.651838","d":true,"name":"Check Payload Event ","property":"payload.collection","propertyType":"msg","rules":[{"t":"eq","v":"SendProduct","vt":"str"},{"t":"eq","v":"SendRecordProduct","vt":"str"},{"t":"eq","v":"SendRecordReplyProduct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1140,"y":3820,"wires":[["3d594115.8ea7ae"],[],["9085d068.426c2"],["b3784723.885fa8"]]},{"id":"8b40363b.4b6128","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"Cache SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"UPDATE [dbo].[MsgMo] SET SerialNo=@SerialNo, ReceiveTime=@ReceiveTime, MID=@MID, DestNo=@DestNo, MsgData=@MsgData WHERE UID=@UID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"VarChar(?)","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"VarChar(?)","valueType":"msg","value":"payload.ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2300,"y":3380,"wires":[["78d40ef0.af4388","782c033c.69f924"]]},{"id":"3d594115.8ea7ae","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":1130,"y":3620,"wires":[]},{"id":"b3784723.885fa8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":1430,"y":3840,"wires":[]},{"id":"12027b.aded7d85","type":"debug","z":"d6fac98e.651838","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":760,"wires":[]},{"id":"ddbbee5a.867a6","type":"switch","z":"d6fac98e.651838","name":"Check Payload Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendRecordProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordProductCreate","vt":"str"},{"t":"eq","v":"SendRecordProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":880,"y":1820,"wires":[["6ae42ebc.7ad6c"],["6ae42ebc.7ad6c"],["793c43ff.4f98c4"],["3703beee.13e732"]]},{"id":"2b3c06a9.e67eaa","type":"debug","z":"d6fac98e.651838","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1700,"wires":[]},{"id":"c90d8eb5.1ff2a","type":"debug","z":"d6fac98e.651838","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":3240,"wires":[]},{"id":"6407a6da.26b358","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":1290,"y":940,"wires":[]},{"id":"793c43ff.4f98c4","type":"function","z":"d6fac98e.651838","name":"Convert Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2300,"wires":[["1b99c21a.26d886","cf913899.665968"]]},{"id":"1b99c21a.26d886","type":"debug","z":"d6fac98e.651838","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1980,"y":2200,"wires":[]},{"id":"a14df09d.4e98c","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3340,"y":2300,"wires":[["66ba3597.ff8edc"],[]]},{"id":"90b8647a.02a7c8","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2540,"y":2220,"wires":[]},{"id":"c428a939.8bb378","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB-SI_SinoPacBank for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB-SI_SinoPacBank table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3080,"y":2300,"wires":[["a14df09d.4e98c"]]},{"id":"3703beee.13e732","type":"function","z":"d6fac98e.651838","name":"Convert Delete Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_record_table_uid = msg.payload.uid\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":2760,"wires":[["f6985476.a0a708","29e6d3d2.67af94"]]},{"id":"f6985476.a0a708","type":"debug","z":"d6fac98e.651838","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":2660,"wires":[]},{"id":"29e6d3d2.67af94","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"SI_SinoPacBank and MsgInfo","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[SI_SinoPacBank] where uid=@uid\n\ndelete from [dbo].[MsgInfo] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1810,"y":2820,"wires":[["667200e3.c6ac6","8debfa1f.9216f8"]]},{"id":"f1c3aee7.6d6098","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2440,"y":2820,"wires":[["90fa747f.8bd588"],[]]},{"id":"667200e3.c6ac6","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":2740,"wires":[]},{"id":"8debfa1f.9216f8","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB DB-MsgInfo and SI_SinoPacBank for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB DB-MsgInfo and SI_SinoPacBank table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":2820,"wires":[["f1c3aee7.6d6098"]]},{"id":"cf913899.665968","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, [dbo].[send_record].serial_number as SerialNum, [dbo].[send_record].req_group_id as GUID, [dbo].[send_record].customer_phone as MPhoneNum, [dbo].[send_record].content as MsgData, [dbo].send.priority as Priority, [dbo].[send_record].send_time as BookingTime, DATEDIFF(SECOND,[send_record].send_time,[send_record].expire_time) as ExpireTime, [dbo].send.req_department as DepID, [dbo].send.msg_type as MsgType, [dbo].send.memo as Memo , [dbo].[send_record].customer_id as SenderID, [dbo].send.req_bu as Bu, [dbo].send.req_company as Company, [dbo].send.req_channel as Channel, [dbo].[send_record].customer_reference as Reference from send_record, send where send_record.uid='{{{payload.uid}}}' and send_record.send_uid = send.uid\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"TinyInt","valueType":"msg","value":"payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sending_section","type":"TinyInt","valueType":"msg","value":"payload.sending_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section","type":"TinyInt","valueType":"msg","value":"payload.section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"success_section","type":"TinyInt","valueType":"msg","value":"payload.success_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"failure_section","type":"TinyInt","valueType":"msg","value":"payload.failure_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section_status_list","type":"VarChar(?)","valueType":"msg","value":"payload.section_status_list","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_long","type":"TinyInt","valueType":"msg","value":"payload.is_long","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_international","type":"TinyInt","valueType":"msg","value":"payload.is_international","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_id","type":"VarChar(?)","valueType":"msg","value":"payload.msg_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_time","type":"DateTime2","valueType":"msg","value":"payload.actual_send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_phone","type":"VarChar(?)","valueType":"msg","value":"payload.actual_send_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gwrecvat","type":"VarChar(?)","valueType":"msg","value":"payload.gwrecvat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"acceptat","type":"VarChar(?)","valueType":"msg","value":"payload.acceptat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sendat","type":"VarChar(?)","valueType":"msg","value":"payload.sendat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"finish_time","type":"DateTime2","valueType":"msg","value":"payload.finish_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"meta","type":"NVarChar(?)","valueType":"msg","value":"payload.meta","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"deliver_time","type":"DateTime2","valueType":"msg","value":"payload.deliver_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"dr_time","type":"DateTime2","valueType":"msg","value":"payload.dr_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2260,"y":2300,"wires":[["90b8647a.02a7c8","15f03119.e76ae7","fdfaf24.d40d39"]]},{"id":"66ba3597.ff8edc","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3590,"y":2300,"wires":[]},{"id":"90fa747f.8bd588","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":2730,"y":2820,"wires":[]},{"id":"15f03119.e76ae7","type":"function","z":"d6fac98e.651838","name":"Get Result3","func":"\nmsg.payload = msg.payload.recordset[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":2300,"wires":[["c5dfc0bb.155e7"]]},{"id":"c5dfc0bb.155e7","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"SI_SinoPacBank","outField":"payload","returnType":"1","throwErrors":"0","query":"UPDATE [dbo].[SI_SinoPacBank] SET UID=@UID, SerialNum=@SerialNum, GUID=@UID, MPhoneNum=@MPhoneNum, MsgData=@MsgData, Priority=@Priority, BookingTime=@BookingTime,ExpireTime=ExpireTime,DepID=@DepID, MsgType=@MsgType, Memo =@Memo,SenderID=@SenderID ,Bu=@Bu ,Company=@Company, Channel=@Channel, Reference=@Reference","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNum","type":"Int","valueType":"msg","value":"payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GUID","type":"VarChar(?)","valueType":"msg","value":"payload.GUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MPhoneNum","type":"VarChar(?)","valueType":"msg","value":"payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Memo","type":"VarChar(?)","valueType":"msg","value":"payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SenderID","type":"VarChar(?)","valueType":"msg","value":"payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Bu","type":"VarChar(?)","valueType":"msg","value":"payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Company","type":"VarChar(?)","valueType":"msg","value":"payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Channel","type":"VarChar(?)","valueType":"msg","value":"payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Reference","type":"VarChar(?)","valueType":"msg","value":"payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Priority","type":"int","valueType":"msg","value":"payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BookingTime","type":"DateTime","valueType":"msg","value":"payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"Int","valueType":"msg","value":"payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DepID","type":"VarChar(?)","valueType":"msg","value":"payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2770,"y":2300,"wires":[["c428a939.8bb378"]]},{"id":"fdfaf24.d40d39","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2430,"y":2160,"wires":[]},{"id":"264a298b.708006","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":4270,"y":1500,"wires":[]},{"id":"f005b31b.0eb2b","type":"switch","z":"d6fac98e.651838","name":"","property":"done","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1540,"wires":[["5f9e08b5.5ab76"]]},{"id":"6ae42ebc.7ad6c","type":"function","z":"d6fac98e.651838","name":"","func":"\nif ( global.get(\"MsgInfo_Done\") == 1 && global.get(\"SI_SinoPacBank_Done\") == 1 ) {\n    msg.done = 1\n} \n\nelse {\n    msg.done = 0\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"//  \n\n\nglobal.set(\"MsgInfo_Done\", 1)\nglobal.set(\"SI_SinoPacBank_Done\",1)","finalize":"","libs":[],"x":1190,"y":1540,"wires":[["f005b31b.0eb2b"]]},{"id":"8ccebbd1.d9fde8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":1590,"y":680,"wires":[]},{"id":"1fedb28f.85c37d","type":"switch","z":"d6fac98e.651838","name":"------ Check Payload Event ----------","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendProductInitialize","vt":"str"},{"t":"eq","v":"SendProductCreate","vt":"str"},{"t":"eq","v":"SendProductUpdate","vt":"str"},{"t":"eq","v":"SendProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":910,"y":940,"wires":[["6407a6da.26b358"],["6407a6da.26b358"],["6407a6da.26b358"],["6407a6da.26b358"]]},{"id":"90a1a83c.811dc","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Query","outField":"payload2","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, 'SINOPACC' as GroupID, send.create_user as UserName, '' as SourceType, send.req_object_id as ObjectID, send_record.uid as SerialNo, send_record.customer_phone as DestNo, send_record.req_group_id as DestName, send.req_department as DestCategory, 0 as MsgType, send_record.content as MsgData, '' as OrderID, '' as MID, send_record.content as MsgData, send_record.actual_send_time as SubmitTime, send_record.send_time as OrderTime, send_record.expire_time as ExpireTime, send_record.resp_code as StatusFlag, '' as SubmitFlag, '' as Filler, send_record.dr_time as StatusTime, send.req_batch_id as BatchCode from send , send_record  where send_record.uid=@uid and send_record.send_uid = send.uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1870,"y":1640,"wires":[["959d512b.2669c","d6797b7.a125a08","655831c3.08e27"]]},{"id":"5f9e08b5.5ab76","type":"function","z":"d6fac98e.651838","name":"Convert Insert Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.send_record_table_uid = msg.payload.uid\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1380,"wires":[["67b17676.168ba","d1d5cc74.1e9768","2a05629f.f39196"]]},{"id":"67b17676.168ba","type":"debug","z":"d6fac98e.651838","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":1240,"wires":[]},{"id":"1f0deec1.823129","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3240,"y":1380,"wires":[["eb0a1093.b86f4"],[]]},{"id":"c25bec6f.6e26f","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2220,"y":1240,"wires":[]},{"id":"2c239bc.b1def64","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB DB-MsgInfo Success, UID:\" +   msg.result1_uuid\n\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB DB-MsgInfo table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2960,"y":1380,"wires":[["1f0deec1.823129","6c443f04.468a88"]]},{"id":"d1d5cc74.1e9768","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Query","outField":"payload","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, [dbo].[send_record].serial_number as SerialNum, [dbo].[send_record].req_group_id as GUID, [dbo].[send_record].customer_phone as MPhoneNum, [dbo].[send_record].content as MsgData, [dbo].send.priority as Priority, [dbo].[send_record].send_time as BookingTime, DATEDIFF(SECOND,[send_record].send_time,[send_record].expire_time) as ExpireTime, [dbo].send.req_department as DepID, [dbo].send.msg_type as MsgType, [dbo].send.memo as Memo , [dbo].[send_record].customer_id as SenderID, [dbo].send.req_bu as Bu, [dbo].send.req_company as Company, [dbo].send.req_channel as Channel, [dbo].[send_record].customer_reference as Reference from send_record, send where send_record.uid=@uid and send_record.send_uid = send.uid\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1970,"y":1380,"wires":[["c25bec6f.6e26f","39a429b1.d04dd6","8ccd8294.43d1b"]]},{"id":"39a429b1.d04dd6","type":"debug","z":"d6fac98e.651838","name":"Debug Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":1300,"wires":[]},{"id":"2e271fd1.9f1f2","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"DB-MsgInfo","outField":"payload","returnType":"1","throwErrors":"0","query":"\nINSERT INTO [dbo].[SI_SinoPacBank](UID, SerialNum, GUID, MPhoneNum, MsgData, Priority,BookingTime,ExpireTime,DepID, MsgType, Memo ,SenderID ,Bu ,Company,Channel,Reference) VALUES(@UID, @SerialNum, @GUID, @MPhoneNum, @MsgData, @Priority,@BookingTime,@ExpireTime,@DepID, @MsgType, @Memo ,@SenderID ,@Bu ,@Company,@Channel,@Reference)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNum","type":"Int","valueType":"msg","value":"payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GUID","type":"VarChar(?)","valueType":"msg","value":"payload.GUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MPhoneNum","type":"VarChar(?)","valueType":"msg","value":"payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Memo","type":"VarChar(?)","valueType":"msg","value":"payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SenderID","type":"VarChar(?)","valueType":"msg","value":"payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Bu","type":"VarChar(?)","valueType":"msg","value":"payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Company","type":"VarChar(?)","valueType":"msg","value":"payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Channel","type":"VarChar(?)","valueType":"msg","value":"payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Reference","type":"VarChar(?)","valueType":"msg","value":"payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Priority","type":"int","valueType":"msg","value":"payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BookingTime","type":"DateTime","valueType":"msg","value":"payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"Int","valueType":"msg","value":"payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DepID","type":"VarChar(?)","valueType":"msg","value":"payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2690,"y":1380,"wires":[["2c239bc.b1def64"]]},{"id":"8ccd8294.43d1b","type":"function","z":"d6fac98e.651838","name":"Get Result1","func":"\ntry {\n  msg.payload = msg.payload.recordset[0]\n  msg.result1_uuid = msg.payload.UID\n  msg.result1_length_is_zero=0\n}\n\ncatch (e) {\n    msg.result1_length_is_zero=1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":1380,"wires":[["50f69be8.24f1ec","583e9967.9a9408"]]},{"id":"1962f4ed.3846eb","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3200,"y":1600,"wires":[["f9ae5de8.f72818"],[]]},{"id":"959d512b.2669c","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2080,"y":1500,"wires":[]},{"id":"e1c4e0a1.d4bcd","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB MsgInfo Success, UID:\" + msg.result2_uuid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB MsgInfo table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2920,"y":1600,"wires":[["1962f4ed.3846eb","26fe461c.3d99ba"]]},{"id":"d6797b7.a125a08","type":"debug","z":"d6fac98e.651838","name":"Debug Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2.recordset","targetType":"msg","statusVal":"","statusType":"auto","x":2070,"y":1560,"wires":[]},{"id":"dd8561a4.8fc078","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"MsgInfo","outField":"payload","returnType":"0","throwErrors":"0","query":"INSERT INTO [dbo].[MsgInfo](UID,GroupID,UserName,SourceType,ObjectID,SerialNo,DestNo,DestName,DestCategory,MsgType,MsgData,DelegateTime,SubmitTime,OrderID,MID,OrderTime,ExpireTime,StatusFlag,SubmitFlag,StatusTime,BatchCode,Filler) VALUES (@UID, @GroupID, @UserName,@SourceType,@ObjectID,@SerialNo,@DestNo,@DestName,@DestCategory,@MsgType,@MsgData,@DelegateTime,@SubmitTime,@OrderID,@MID,@OrderTime,@ExpireTime,@StatusFlag,@SubmitFlag,@StatusTime,@BatchCode,@Filler)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload2.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GroupID","type":"VarChar(?)","valueType":"msg","value":"payload2.GroupID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"UserName","type":"VarChar(?)","valueType":"msg","value":"payload2.UserName","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SourceType","type":"VarChar(?)","valueType":"msg","value":"payload2.SourceType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ObjectID","type":"VarChar(?)","valueType":"msg","value":"payload2.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"VarChar(?)","valueType":"msg","value":"payload2.SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload2.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestName","type":"VarChar(?)","valueType":"msg","value":"payload2.DestName","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestCategory","type":"VarChar(?)","valueType":"msg","value":"payload2.DestCategory","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload2.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload2.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DelegateTime","type":"VarChar(?)","valueType":"msg","value":"payload2.DelegateTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SubmitTime","type":"VarChar(?)","valueType":"msg","value":"payload2.SubmitTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"OrderID","type":"VarChar(?)","valueType":"msg","value":"payload2.OrderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload2.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"OrderTime","type":"VarChar(?)","valueType":"msg","value":"payload2.OrderTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"VarChar(?)","valueType":"msg","value":"payload2.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"StatusFlag","type":"VarChar(?)","valueType":"msg","value":"payload2.StatusFlag","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SubmitFlag","type":"VarChar(?)","valueType":"msg","value":"payload2.SubmitFlag","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"StatusTime","type":"VarChar(?)","valueType":"msg","value":"payload2.StatusTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BatchCode","type":"VarChar(?)","valueType":"msg","value":"payload2.BatchCode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Filler","type":"VarChar(?)","valueType":"msg","value":"payload2.Filter","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2680,"y":1600,"wires":[["e1c4e0a1.d4bcd"]]},{"id":"655831c3.08e27","type":"function","z":"d6fac98e.651838","name":"Get Result2","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\ntry {\n  msg.payload2 = msg.payload2.recordset[0]\n  msg.result2_uuid = msg.payload.UID\n  msg.payload2.OrderTime = convert_strip_datetime_as_string(msg.payload2.OrderTime)\n  msg.payload2.ExpireTime = convert_strip_datetime_as_string(msg.payload2.ExpireTime)\n  msg.payload2.StatusTime = convert_strip_datetime_as_string(msg.payload2.StatusTime)\n  \n  msg.result2_length_is_zero=0\n}\n\ncatch (e) {\n    msg.result2_length_is_zero=1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2050,"y":1800,"wires":[["77350f67.8b69e","62aead8b.ac180c"]]},{"id":"a7dfbbc6.7a9028","type":"switch","z":"d6fac98e.651838","name":"","property":"done","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4030,"y":1500,"wires":[["264a298b.708006"]]},{"id":"991a5271.038c68","type":"function","z":"d6fac98e.651838","name":"","func":"\nif ( global.get(\"MsgInfo_Done\") == 1 && global.get(\"SI_SinoPacBank_Done\") == 1 ) {\n    msg.done = 1\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3690,"y":1500,"wires":[["a7dfbbc6.7a9028"]]},{"id":"eb0a1093.b86f4","type":"function","z":"d6fac98e.651838","name":"","func":"\nglobal.set(\"MsgInfo_Done\",1)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3490,"y":1380,"wires":[["991a5271.038c68"]]},{"id":"f9ae5de8.f72818","type":"function","z":"d6fac98e.651838","name":"","func":"\nglobal.get(\"SI_SinoPacBank_Done\",1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3430,"y":1600,"wires":[["991a5271.038c68"]]},{"id":"50f69be8.24f1ec","type":"debug","z":"d6fac98e.651838","name":"Debug Select result1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload ","targetType":"msg","statusVal":"","statusType":"auto","x":2500,"y":1300,"wires":[]},{"id":"2a05629f.f39196","type":"delay","z":"d6fac98e.651838","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1640,"y":1640,"wires":[["90a1a83c.811dc"]]},{"id":"77350f67.8b69e","type":"switch","z":"d6fac98e.651838","name":"","property":"result2_length_is_zero","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2410,"y":1800,"wires":[["dd8561a4.8fc078","dd94b5a9.c6ed98"],["18eb6a3b.178d4e"]]},{"id":"18eb6a3b.178d4e","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"ACK","x":2690,"y":1760,"wires":[]},{"id":"583e9967.9a9408","type":"switch","z":"d6fac98e.651838","name":"","property":"result1_length_is_zero","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2490,"y":1460,"wires":[["2e271fd1.9f1f2"],["c8c2065.d73fbf8"]]},{"id":"c8c2065.d73fbf8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"ACK","x":2670,"y":1480,"wires":[]},{"id":"62aead8b.ac180c","type":"debug","z":"d6fac98e.651838","name":"Debug Select result2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2.recordset","targetType":"msg","statusVal":"","statusType":"auto","x":2300,"y":1720,"wires":[]},{"id":"dd94b5a9.c6ed98","type":"debug","z":"d6fac98e.651838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2680,"y":1700,"wires":[]},{"id":"6c443f04.468a88","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3210,"y":1280,"wires":[]},{"id":"26fe461c.3d99ba","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3190,"y":1500,"wires":[]}]