.flows.json.backup
[{"id":"1bd17114.208f7f","type":"tab","label":"Report to Cache","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"source-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"target-gravity-nats","port":"4222"},{"id":"a1b2b06d.089da","type":"nats-streaming-server","server":"gravity1-nats","port":"4222","cluster":"external-stan"},{"id":"f04213fa.c22b48","type":"MSSQL-CN","tdsVersion":"7_4","name":"Cache1 MSSQL","server":"cache-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"smsdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"2ca87b75.cb01dc","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #1","server":"source-mssql1-1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"d5cda53a.b9005","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #2","server":"source-mssql2.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel MSSQL","server":"kernel-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1c910e21.fc66da","type":"MSSQL-CN","tdsVersion":"7_4","name":"Target MSSQL1","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"brobridge2","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"6ba585bc.0efc8c","type":"MSSQL-CN","tdsVersion":"7_4","name":"target1-mssql","server":"target1-mssql","port":"1433","encyption":false,"trustServerCertificate":true,"database":"TestDB","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"c05b6da5.1f28e","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"a0810888.a09f1","type":"Gravity Server","server":"gravity-kernel-nats","port":"4222"},{"id":"81898769.b5aff8","type":"nats-streaming-server","server":"gravity-report-nats","port":"4222","cluster":"external-stan"},{"id":"fcaf454e.703438","type":"switch","z":"1bd17114.208f7f","name":"Check Payload Event ","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendProductInitialize","vt":"str"},{"t":"eq","v":"SendProductCreate","vt":"str"},{"t":"eq","v":"SendProductUpdate","vt":"str"},{"t":"eq","v":"SendProductDelete","vt":"str"},{"t":"eq","v":"SendRecordProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordProductCreate","vt":"str"},{"t":"eq","v":"SendRecordProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordProductDelete","vt":"str"},{"t":"eq","v":"SendRecordReplyProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordReplyProductCreate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductDelete","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":1180,"y":1340,"wires":[["4271e50d.26fc84"],["4271e50d.26fc84"],["1dc61412.b5eba4"],["bc52838b.d5e9b8"],["a7ca20f2.896ad8"],["a7ca20f2.896ad8"],["67ffa869.ce23b"],["22cd7441.faa294"],["6b6f9b38.416b24"],["6b6f9b38.416b24"],["77f4427c.5498a4"],["57fd1e20.9f4be"]]},{"id":"9f5a3605.222b18","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Target","outField":"payload","returnType":0,"throwErrors":"0","query":"\n\nINSERT INTO [dbo].[send_record](priority,send_time,expire_time,req_department,msgType,memo, req_bu, req_company, req_channel, req_group_id, req_object_id, req_batch_id) OUTPUT Inserted.UID VALUES(@priority, @send_time, @expire_time, @req_department, @msgType,memo, @req_bu, @req_company, @req_channel, @req_group_id, @req_object_id, @req_batch_id)\n\n\n// ----------------------------------------------------------\n// send table\n// ----------------------------------------------------------\n\n// query.insert(\n//     {\n//         customer_phone: msg.payload.message.MPhoneNum,\n//         content: msg.payload.message.MsgData,\n//         send_time: BookingTime,\n//         expire_time: NewExpireTime,\n//         customer_id: msg.payload.message.SenderID,\n//         customer_reference: msg.payload.message.Reference,\n//         calc_section: send_record_calc_section,\n//         status:0\n        \n//     }\n// ).into('send_record').returning('uid')\n\n\n// // send_record table\n\n\n// send_record_calc_section = Math.ceil(content.length / 70)\n\n\n// query.insert(\n//     {\n//         customer_phone: msg.payload.message.MPhoneNum,\n//         content: msg.payload.message.MsgData,\n//         send_time: BookingTime,\n//         expire_time: NewExpireTime,\n//         customer_id: msg.payload.message.SenderID,\n//         customer_reference: msg.payload.message.Reference,\n//         calc_section: send_record_calc_section,\n//         status:0\n        \n//     }\n// ).into('send_record').returning('uid')\n\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"priority","type":"int","valueType":"msg","value":"gravity_payload.message.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"int","valueType":"msg","value":"gravity_payload.message.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"int","valueType":"msg","value":"msg.gravity_payload.message.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msgType","type":"int","valueType":"msg","value":"msg.gravity_payload.message.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.GroupID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.BatchID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":4900,"y":4320,"wires":[[]]},{"id":"eac7848e.e8036","type":"loop","z":"1bd17114.208f7f","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":4510,"y":4320,"wires":[[],["9f5a3605.222b18"]]},{"id":"f394c4c7.c05e","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendProduct","clientID":"report-atomic-001","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1140,"wires":[["697c97fa.1b2138"]]},{"id":"697c97fa.1b2138","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1140,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"1e9f3f82.f55ba8","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordProduct","clientID":"report-atomic-002","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-002","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1060,"wires":[["7d66714d.289108"]]},{"id":"7d66714d.289108","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1060,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"78013665.1d1bc","type":"nats-streaming-subscribe","z":"1bd17114.208f7f","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordReplyProduct","clientID":"report-atomic-003","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-003","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1000,"wires":[["5591f647.5422"]]},{"id":"5591f647.5422","type":"json","z":"1bd17114.208f7f","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1000,"wires":[["fcaf454e.703438","dc53973e.f5c688"]]},{"id":"4271e50d.26fc84","type":"function","z":"1bd17114.208f7f","name":"Convert Insert Send Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user=convert_uuid(msg.payload.create_user)\nmsg.payload.update_user=convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":280,"wires":[["7bb75ccb.d7040c","64941982.9705a"]]},{"id":"7bb75ccb.d7040c","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":220,"wires":[]},{"id":"64941982.9705a","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[send](uid, event_code, way_name, send_from, send_time, expire_time, template_code, template_max_length, send_mode, limit_mode, mod_reply, status, priority, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, req_batch_id, memo, create_time, create_user, update_time, update_user, completed_time, canceled_time, update_expired_time) values(@uid, @event_code, @way_name, @send_from, @send_time, @expire_time, @template_code, @template_max_length, @send_mode, @limit_mode, @mod_reply, @status, @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @req_batch_id, @memo, @create_time, @create_user, @update_time, @update_user, @completed_time, @canceled_time, @update_expired_time)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1860,"y":280,"wires":[["952578f0.3398c8","c3ab2c7f.c0e76"]]},{"id":"ed9d9d47.4b7168","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2570,"y":220,"wires":[]},{"id":"b4445676.84ee2","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2320,"y":280,"wires":[["50c5f02c.dcb34","ed9d9d47.4b7168"],["bf653d42.790948"]]},{"id":"bf653d42.790948","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2570,"y":340,"wires":[]},{"id":"952578f0.3398c8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1980,"y":220,"wires":[]},{"id":"50c5f02c.dcb34","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2550,"y":280,"wires":[]},{"id":"dc53973e.f5c688","type":"debug","z":"1bd17114.208f7f","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1000,"wires":[]},{"id":"c3ab2c7f.c0e76","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table for Success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":280,"wires":[["b4445676.84ee2"]]},{"id":"dca3a4e4.1ffa28","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\nupdate INTO [dbo].[send] set event_code=@event_code, way_name=@way_name, send_from=@send_from, send_time=@send_from, expire_time=@expire_time, template_code=@template_code, template_max_length=@template_max_length, send_mode=@send_mode, limit_mode=@limit_mode, mod_reply=@mod_reply, status=@status, priority=@priority, msg_type=@msg_type, req_department=@req_department, req_bu=@req_bu, req_company=@req_company, req_channel=@req_channel, req_object_id=@req_object_id, req_batch_id=@req_batch_id, memo=@memo, create_time=@create_time, create_user=@create_user, update_time=@create_user, update_user=@update_user, completed_time=@completed_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time where uid=@uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1860,"y":520,"wires":[["7e34bd.0c58ab44","25375a57.850fa6"]]},{"id":"1dc61412.b5eba4","type":"function","z":"1bd17114.208f7f","name":"Convert Send Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user=convert_uuid(msg.payload.create_user)\nmsg.payload.update_user=convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":520,"wires":[["9da3b90c.5f1fd8","dca3a4e4.1ffa28"]]},{"id":"9da3b90c.5f1fd8","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":440,"wires":[]},{"id":"63850e8e.1f0ea","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":440,"wires":[]},{"id":"7d479a49.cc0b6c","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2360,"y":520,"wires":[["fdb900d.90ba78","63850e8e.1f0ea"],["79205e6.3861e2"]]},{"id":"79205e6.3861e2","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":580,"wires":[]},{"id":"25375a57.850fa6","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2020,"y":440,"wires":[]},{"id":"fdb900d.90ba78","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2610,"y":520,"wires":[]},{"id":"7e34bd.0c58ab44","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send table success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] Update Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2100,"y":520,"wires":[["7d479a49.cc0b6c"]]},{"id":"a6415375.fc3d08","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[send] WHERE uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1880,"y":720,"wires":[["b3abde72.4aa4a","4be9b895.df3ad"]]},{"id":"bc52838b.d5e9b8","type":"function","z":"1bd17114.208f7f","name":"Convert Send Delete Payload","func":"function convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":720,"wires":[["d351f09f.67705","a6415375.fc3d08"]]},{"id":"d351f09f.67705","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":660,"wires":[]},{"id":"cd22b049.00b758","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2650,"y":660,"wires":[]},{"id":"4ca357c7.4060a","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2400,"y":720,"wires":[["3c3f6054.e5ae","cd22b049.00b758"],["b38fe75a.0b9eb"]]},{"id":"b38fe75a.0b9eb","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2650,"y":780,"wires":[]},{"id":"4be9b895.df3ad","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":660,"wires":[]},{"id":"3c3f6054.e5ae","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2650,"y":720,"wires":[]},{"id":"b3abde72.4aa4a","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":720,"wires":[["4ca357c7.4060a"]]},{"id":"a7ca20f2.896ad8","type":"function","z":"1bd17114.208f7f","name":"Convert Insert SendRecord Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1000,"wires":[["b3078853.64e1d8","c276462d.16174"]]},{"id":"b3078853.64e1d8","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":900,"wires":[]},{"id":"c276462d.16174","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[send_record](uid, send_uid, way_name, serial_number, send_time, expire_time, customer_id, customer_phone, customer_reference, req_group_id, req_uid, content, return_code, calc_section, sending_section, section, success_section, failure_section, section_status_list, is_long, is_international, msg_id, actual_send_time, actual_send_phone, gateway_id, status, resp_code, gwrecvat, acceptat, sendat, finish_time, meta, create_time, update_time, deliver_time, dr_time, canceled_time, update_expired_time) values(@uid,@send_uid,@way_name,@serial_number,@send_time,@expire_time,@customer_id,@customer_phone,@customer_reference,@req_group_id,@req_uid,@content,@return_code,@calc_section,@sending_section,@section,@success_section,@failure_section,@section_status_list,@is_long,@is_international,@msg_id,@actual_send_time,@actual_send_phone,@gateway_id,@status,@resp_code,@gwrecvat,@acceptat,@sendat,@finish_time,@meta,@create_time,@update_time,@deliver_time,@dr_time,@canceled_time,@update_expired_time)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"TinyInt","valueType":"msg","value":"payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sending_section","type":"TinyInt","valueType":"msg","value":"payload.sending_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section","type":"TinyInt","valueType":"msg","value":"payload.section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"success_section","type":"TinyInt","valueType":"msg","value":"payload.success_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"failure_section","type":"TinyInt","valueType":"msg","value":"payload.failure_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section_status_list","type":"VarChar(?)","valueType":"msg","value":"payload.section_status_list","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_long","type":"TinyInt","valueType":"msg","value":"payload.is_long","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_international","type":"TinyInt","valueType":"msg","value":"payload.is_international","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_id","type":"VarChar(?)","valueType":"msg","value":"payload.msg_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_time","type":"DateTime2","valueType":"msg","value":"payload.actual_send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_phone","type":"VarChar(?)","valueType":"msg","value":"payload.actual_send_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gwrecvat","type":"VarChar(?)","valueType":"msg","value":"payload.gwrecvat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"acceptat","type":"VarChar(?)","valueType":"msg","value":"payload.acceptat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sendat","type":"VarChar(?)","valueType":"msg","value":"payload.sendat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"finish_time","type":"DateTime2","valueType":"msg","value":"payload.finish_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"meta","type":"NVarChar(?)","valueType":"msg","value":"payload.meta","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"deliver_time","type":"DateTime2","valueType":"msg","value":"payload.deliver_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"dr_time","type":"DateTime2","valueType":"msg","value":"payload.dr_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1880,"y":1000,"wires":[["8c139bb.ad08168","5407e150.bcefb8"]]},{"id":"bcd39946.df6498","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2690,"y":940,"wires":[]},{"id":"14c2bcc9.69c133","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2440,"y":1000,"wires":[["b906a5f0.6e9988","bcd39946.df6498"],["b3b27cfe.afdcc"]]},{"id":"b3b27cfe.afdcc","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2690,"y":1060,"wires":[]},{"id":"8c139bb.ad08168","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":940,"wires":[]},{"id":"b906a5f0.6e9988","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2670,"y":1000,"wires":[]},{"id":"5407e150.bcefb8","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":1000,"wires":[["14c2bcc9.69c133"]]},{"id":"67ffa869.ce23b","type":"function","z":"1bd17114.208f7f","name":"Convert Update SendRecord Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1240,"wires":[["1b6e4d1f.0006db","be2bfd50.900b68"]]},{"id":"1b6e4d1f.0006db","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1140,"wires":[]},{"id":"be2bfd50.900b68","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"update [dbo].[send_record] set send_uid=@send_uid, way_name=@way_name, serial_number=@serial_number, send_time=@send_time, expire_time=@expire_time, customer_id=@customer_id, customer_phone=@customer_phone, customer_reference=@customer_reference, req_group_id=@req_group_id, req_uid=@req_uid, content=@content, return_code=@return_code, calc_section=@calc_section, sending_section=@sending_section, section=@section, success_section=@success_section, failure_section=@failure_section, section_status_list=@section_status_list, is_long=@is_long, is_international=@is_international, msg_id=@msg_id, actual_send_time=@actual_send_time, actual_send_phone=@actual_send_phone, gateway_id=@gateway_id, status=@status, resp_code=@resp_code, gwrecvat=@gwrecvat, acceptat=@acceptat, sendat=@sendat, finish_time=@finish_time, meta=@meta, create_time=@create_time, update_time=@update_time, deliver_time=@deliver_time, dr_time=@dr_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time where uid=@uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"TinyInt","valueType":"msg","value":"payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sending_section","type":"TinyInt","valueType":"msg","value":"payload.sending_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section","type":"TinyInt","valueType":"msg","value":"payload.section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"success_section","type":"TinyInt","valueType":"msg","value":"payload.success_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"failure_section","type":"TinyInt","valueType":"msg","value":"payload.failure_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section_status_list","type":"VarChar(?)","valueType":"msg","value":"payload.section_status_list","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_long","type":"TinyInt","valueType":"msg","value":"payload.is_long","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_international","type":"TinyInt","valueType":"msg","value":"payload.is_international","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_id","type":"VarChar(?)","valueType":"msg","value":"payload.msg_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_time","type":"DateTime2","valueType":"msg","value":"payload.actual_send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_phone","type":"VarChar(?)","valueType":"msg","value":"payload.actual_send_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gwrecvat","type":"VarChar(?)","valueType":"msg","value":"payload.gwrecvat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"acceptat","type":"VarChar(?)","valueType":"msg","value":"payload.acceptat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sendat","type":"VarChar(?)","valueType":"msg","value":"payload.sendat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"finish_time","type":"DateTime2","valueType":"msg","value":"payload.finish_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"meta","type":"NVarChar(?)","valueType":"msg","value":"payload.meta","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"deliver_time","type":"DateTime2","valueType":"msg","value":"payload.deliver_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"dr_time","type":"DateTime2","valueType":"msg","value":"payload.dr_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1880,"y":1240,"wires":[["e3728899.9a42e8","511a6ca2.c1e66c"]]},{"id":"1d388a5f.134dc6","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2690,"y":1180,"wires":[]},{"id":"f4c0606c.e53018","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2440,"y":1240,"wires":[["7932f1c3.e926e8","1d388a5f.134dc6"],["a3cb7483.732228"]]},{"id":"a3cb7483.732228","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2690,"y":1300,"wires":[]},{"id":"e3728899.9a42e8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":1180,"wires":[]},{"id":"7932f1c3.e926e8","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2670,"y":1240,"wires":[]},{"id":"511a6ca2.c1e66c","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":1240,"wires":[["f4c0606c.e53018"]]},{"id":"22cd7441.faa294","type":"function","z":"1bd17114.208f7f","name":"Convert Delete SendRecord Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":1420,"wires":[["97222ceb.d8392","973bbb3.19607c8"]]},{"id":"97222ceb.d8392","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":1320,"wires":[]},{"id":"973bbb3.19607c8","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"delete from [dbo].[send_record] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1860,"y":1420,"wires":[["13739ac5.4edb9d","449f988a.2c6ff"]]},{"id":"f2be00cd.63eb5","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2670,"y":1360,"wires":[]},{"id":"12f3ebad.5cb864","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2420,"y":1420,"wires":[["64a86582.d396dc","f2be00cd.63eb5"],["fe57939c.7c8b18"]]},{"id":"fe57939c.7c8b18","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2670,"y":1480,"wires":[]},{"id":"13739ac5.4edb9d","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2080,"y":1360,"wires":[]},{"id":"64a86582.d396dc","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2650,"y":1420,"wires":[]},{"id":"449f988a.2c6ff","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2160,"y":1420,"wires":[["12f3ebad.5cb864"]]},{"id":"6b6f9b38.416b24","type":"function","z":"1bd17114.208f7f","name":"Convert Insert SendRecordReply Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = msg.payload.code || \"\"\nmsg.payload.DestNo = msg.payload.customer_phone || \"\" \nmsg.payload.MsgData = reply_content || \"\"","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1660,"wires":[["3b752069.c7fab8","e5a18d94.722ff"]]},{"id":"3b752069.c7fab8","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Reply Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1560,"wires":[]},{"id":"e5a18d94.722ff","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"f04213fa.c22b48","name":"Report SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[MsgMo](UID,SerialNo,ReceiveTime,MID,DestNo,MsgData) values(@UID,@SerialNo,@ReceiveTime,@MID,@DestNo,@MsgData)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"Char(?)","valueType":"msg","value":"SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"Char(?)","valueType":"msg","value":"ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"Char(?)","valueType":"msg","value":"MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"Char(?)","valueType":"msg","value":"DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1920,"y":1660,"wires":[["c9278c12.434c98","81123baf.1dcb2"]]},{"id":"25d60caf.41f0fc","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":1600,"wires":[]},{"id":"11331032.2f2a","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2460,"y":1660,"wires":[["2f5f481f.f34a98","25d60caf.41f0fc"],["a0aef00c.6c6468"]]},{"id":"a0aef00c.6c6468","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":1720,"wires":[]},{"id":"c9278c12.434c98","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":1600,"wires":[]},{"id":"2f5f481f.f34a98","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2690,"y":1660,"wires":[]},{"id":"81123baf.1dcb2","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"Insert Report DB send_record_reply for Success, UID:\" + msg.send_record_reply_table_uid \n} else {\n    msg.result = \"Insert Report DB send_record_reply table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":1660,"wires":[["11331032.2f2a"]]},{"id":"77f4427c.5498a4","type":"function","z":"1bd17114.208f7f","name":"Convert Update SendRecordReply Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_record_uid= convert_uuid(msg.payload.send_record_uid)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.reply_time = convert_datetime(msg.payload.reply_time)\n\nmsg.send_record_reply_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1860,"wires":[["23936970.28627e","6e83c597.3c7d04"]]},{"id":"23936970.28627e","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Reply Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1760,"wires":[]},{"id":"6e83c597.3c7d04","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"update [dbo].[send_record_reply] set send_record_uid=@send_record_uid, customer_id=@customer_id, customer_phone=@customer_phone, customer_reference=@customer_reference, tx_date=@tx_date, tx_time=@tx_time, event_code=@event_code, return_code=@return_code, create_time=@create_time, update_time=@update_time, reply_content=@reply_content, reply_time=@reply_time, status=@status, gateway_id=@gateway_id, code=@code where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"tx_date","type":"VarChar(?)","valueType":"msg","value":"payload.tx_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"tx_time","type":"VarChar(?)","valueType":"msg","value":"payload.tx_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"reply_content","type":"VarChar(?)","valueType":"msg","value":"payload.reply_content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"reply_time","type":"DateTime2","valueType":"msg","value":"payload.reply_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"TinyInt","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"code","type":"VarChar(?)","valueType":"msg","value":"payload.code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1920,"y":1860,"wires":[["7a650079.7ce23","50fa6f0c.a3326"]]},{"id":"121e0b1d.ad27a5","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":1800,"wires":[]},{"id":"f735e75a.390ad8","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2460,"y":1860,"wires":[["97ca0aff.abc2d8","121e0b1d.ad27a5"],["3b5db491.891934"]]},{"id":"3b5db491.891934","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":1920,"wires":[]},{"id":"7a650079.7ce23","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":1800,"wires":[]},{"id":"97ca0aff.abc2d8","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2690,"y":1860,"wires":[]},{"id":"50fa6f0c.a3326","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record_reply for Success, UID:\" + msg.send_record_reply_table_uid \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record_reply table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":1860,"wires":[["f735e75a.390ad8"]]},{"id":"57fd1e20.9f4be","type":"function","z":"1bd17114.208f7f","name":"Convert Delete SendRecordReply Payload","func":"\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload2 = msg.payload\n\nmsg.send_record_reply_table_uid = msg.payload.uid\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":2060,"wires":[["207134c3.d95cdc","aad15a73.fdae98"]]},{"id":"207134c3.d95cdc","type":"debug","z":"1bd17114.208f7f","name":"Debug Send Record Reply Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1960,"wires":[]},{"id":"aad15a73.fdae98","type":"MSSQL","z":"1bd17114.208f7f","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE from [dbo].[send_record_reply] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1920,"y":2060,"wires":[["2e665894.5e53e8","6c4c9bd6.3e33cc"]]},{"id":"b9f2dd1d.6a2bf","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":2000,"wires":[]},{"id":"373b9b6e.771174","type":"switch","z":"1bd17114.208f7f","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2460,"y":2060,"wires":[["e35b455d.bed9e","b9f2dd1d.6a2bf"],["e0695f16.e5d1c"]]},{"id":"e0695f16.e5d1c","type":"debug","z":"1bd17114.208f7f","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2710,"y":2120,"wires":[]},{"id":"2e665894.5e53e8","type":"debug","z":"1bd17114.208f7f","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":2000,"wires":[]},{"id":"e35b455d.bed9e","type":"nats-streaming-acknowledge","z":"1bd17114.208f7f","name":"STAN ACK","x":2690,"y":2060,"wires":[]},{"id":"6c4c9bd6.3e33cc","type":"function","z":"1bd17114.208f7f","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record_reply for Success, UID:\" + msg.send_record_reply_table_uid \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record_reply table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":2060,"wires":[["373b9b6e.771174"]]}]