flows.json
[{"id":"f8424483.9c7248","type":"tab","label":"Report to Cache1","disabled":false,"info":""},{"id":"286b37e9.15eca8","type":"tab","label":"Report to Cache2","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"source-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"target-gravity-nats","port":"4222"},{"id":"f04213fa.c22b48","type":"MSSQL-CN","tdsVersion":"7_4","name":"Cache1 MSSQL","server":"cache-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"smsdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"2ca87b75.cb01dc","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #1","server":"source-mssql1-1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"d5cda53a.b9005","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #2","server":"source-mssql2.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel MSSQL","server":"kernel-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1c910e21.fc66da","type":"MSSQL-CN","tdsVersion":"7_4","name":"Target MSSQL1","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"brobridge2","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"6ba585bc.0efc8c","type":"MSSQL-CN","tdsVersion":"7_4","name":"target1-mssql","server":"target1-mssql","port":"1433","encyption":false,"trustServerCertificate":true,"database":"TestDB","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"a0810888.a09f1","type":"Gravity Server","server":"gravity-kernel-nats","port":"4222"},{"id":"81898769.b5aff8","type":"nats-streaming-server","server":"gravity-report-nats","port":"4222","cluster":"external-stan"},{"id":"b61f10da.9ee238","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mboker2","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"40310d09.16b3d4","type":"switch","z":"f8424483.9c7248","name":"Check Payload Event ","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendProductInitialize","vt":"str"},{"t":"eq","v":"SendProductCreate","vt":"str"},{"t":"eq","v":"SendProductUpdate","vt":"str"},{"t":"eq","v":"SendProductDelete","vt":"str"},{"t":"eq","v":"SendRecordProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordProductCreate","vt":"str"},{"t":"eq","v":"SendRecordProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordProductDelete","vt":"str"},{"t":"eq","v":"SendRecordReplyProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordReplyProductCreate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductDelete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":13,"x":1220,"y":1160,"wires":[["5d9fd7c3.bf7ea"],["5d9fd7c3.bf7ea"],["5d9fd7c3.bf7ea"],["5d9fd7c3.bf7ea"],["137c9c7d.383a84"],["137c9c7d.383a84"],["b0a04220.3a42f"],["a92466be.abf3f"],["f02e2678.c8ba28"],["f02e2678.c8ba28"],["3be5d7d6.e142c"],["a047a34b.e85c9"],["b875da77.4a5ae"]]},{"id":"5ba3ac07.a82954","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Target","outField":"payload","returnType":0,"throwErrors":"0","query":"\n\nINSERT INTO [dbo].[send_record](priority,send_time,expire_time,req_department,msgType,memo, req_bu, req_company, req_channel, req_group_id, req_object_id, req_batch_id) OUTPUT Inserted.UID VALUES(@priority, @send_time, @expire_time, @req_department, @msgType,memo, @req_bu, @req_company, @req_channel, @req_group_id, @req_object_id, @req_batch_id)\n\n\n// ----------------------------------------------------------\n// send table\n// ----------------------------------------------------------\n\n// query.insert(\n//     {\n//         customer_phone: msg.payload.message.MPhoneNum,\n//         content: msg.payload.message.MsgData,\n//         send_time: BookingTime,\n//         expire_time: NewExpireTime,\n//         customer_id: msg.payload.message.SenderID,\n//         customer_reference: msg.payload.message.Reference,\n//         calc_section: send_record_calc_section,\n//         status:0\n        \n//     }\n// ).into('send_record').returning('uid')\n\n\n// // send_record table\n\n\n// send_record_calc_section = Math.ceil(content.length / 70)\n\n\n// query.insert(\n//     {\n//         customer_phone: msg.payload.message.MPhoneNum,\n//         content: msg.payload.message.MsgData,\n//         send_time: BookingTime,\n//         expire_time: NewExpireTime,\n//         customer_id: msg.payload.message.SenderID,\n//         customer_reference: msg.payload.message.Reference,\n//         calc_section: send_record_calc_section,\n//         status:0\n        \n//     }\n// ).into('send_record').returning('uid')\n\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"priority","type":"int","valueType":"msg","value":"gravity_payload.message.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"int","valueType":"msg","value":"gravity_payload.message.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"int","valueType":"msg","value":"msg.gravity_payload.message.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msgType","type":"int","valueType":"msg","value":"msg.gravity_payload.message.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"int","valueType":"msg","value":"msg.gravity_payload.message.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.GroupID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"int","valueType":"msg","value":"msg.gravity_payload.message.BatchID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":4900,"y":4320,"wires":[[]]},{"id":"b19d4c05.1570e","type":"loop","z":"f8424483.9c7248","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":4510,"y":4320,"wires":[[],["5ba3ac07.a82954"]]},{"id":"bcbe736f.4495a8","type":"nats-streaming-subscribe","z":"f8424483.9c7248","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendProduct","clientID":"report-atomic-001","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1140,"wires":[["64c1314.55f0f5"]]},{"id":"64c1314.55f0f5","type":"json","z":"f8424483.9c7248","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1140,"wires":[["40310d09.16b3d4","53ddb159.d1b858","72b476af.196348"]]},{"id":"80c97868.1af3f8","type":"nats-streaming-subscribe","z":"f8424483.9c7248","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordProduct","clientID":"report-atomic-002","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-002","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1060,"wires":[["eff425c4.fe37c8"]]},{"id":"eff425c4.fe37c8","type":"json","z":"f8424483.9c7248","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1060,"wires":[["40310d09.16b3d4","53ddb159.d1b858","72b476af.196348"]]},{"id":"5c154d63.66d874","type":"nats-streaming-subscribe","z":"f8424483.9c7248","name":"Source","server":"81898769.b5aff8","channel":"rowData.source.SendRecordReplyProduct","clientID":"report-atomic-003","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-003","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":350,"y":1000,"wires":[["64541714.19b518"]]},{"id":"64541714.19b518","type":"json","z":"f8424483.9c7248","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1000,"wires":[["40310d09.16b3d4","53ddb159.d1b858","72b476af.196348"]]},{"id":"df48a7e0.e30fa","type":"function","z":"f8424483.9c7248","name":"Convert Insert Send Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user=convert_uuid(msg.payload.create_user)\nmsg.payload.update_user=convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2500,"y":280,"wires":[["7b197739.94ab1"]]},{"id":"7b197739.94ab1","type":"debug","z":"f8424483.9c7248","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2870,"y":240,"wires":[]},{"id":"8c573f6a.9d057","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3690,"y":240,"wires":[]},{"id":"74fe7a77.ce7fc4","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3440,"y":300,"wires":[["748d51a3.13f848","8c573f6a.9d057"],["a5018aa7.2b0ad8"]]},{"id":"a5018aa7.2b0ad8","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3690,"y":360,"wires":[]},{"id":"bb3bae18.33c618","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3100,"y":240,"wires":[]},{"id":"748d51a3.13f848","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3670,"y":300,"wires":[]},{"id":"53ddb159.d1b858","type":"debug","z":"f8424483.9c7248","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":820,"wires":[]},{"id":"5006d4d7.4242bc","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table for Success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3180,"y":300,"wires":[["74fe7a77.ce7fc4"]]},{"id":"4fd8fb50.836204","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\nupdate INTO [dbo].[send] set event_code=@event_code, way_name=@way_name, send_from=@send_from, send_time=@send_from, expire_time=@expire_time, template_code=@template_code, template_max_length=@template_max_length, send_mode=@send_mode, limit_mode=@limit_mode, mod_reply=@mod_reply, status=@status, priority=@priority, msg_type=@msg_type, req_department=@req_department, req_bu=@req_bu, req_company=@req_company, req_channel=@req_channel, req_object_id=@req_object_id, req_batch_id=@req_batch_id, memo=@memo, create_time=@create_time, create_user=@create_user, update_time=@create_user, update_user=@update_user, completed_time=@completed_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time where uid=@uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2980,"y":540,"wires":[["cfb1690.eb00b98","69b2bf78.456ba"]]},{"id":"546d665d.f7a03","type":"function","z":"f8424483.9c7248","name":"Convert Send Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user=convert_uuid(msg.payload.create_user)\nmsg.payload.update_user=convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":520,"wires":[["2c4fbde8.5a34ba","4fd8fb50.836204"]]},{"id":"2c4fbde8.5a34ba","type":"debug","z":"f8424483.9c7248","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":460,"wires":[]},{"id":"2c8dadc6.6180b2","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3730,"y":460,"wires":[]},{"id":"188903da.94e734","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3480,"y":540,"wires":[["48d89539.313b04","2c8dadc6.6180b2"],["43a0061c.662df"]]},{"id":"43a0061c.662df","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3750,"y":600,"wires":[]},{"id":"69b2bf78.456ba","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3140,"y":460,"wires":[]},{"id":"48d89539.313b04","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3730,"y":540,"wires":[]},{"id":"cfb1690.eb00b98","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send table success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] Update Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3220,"y":540,"wires":[["188903da.94e734"]]},{"id":"2df0ed71.35fbd2","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[send] WHERE uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3000,"y":740,"wires":[["52d5960b.d3164","6748485b.3649e8"]]},{"id":"f90a031f.88e2d","type":"function","z":"f8424483.9c7248","name":"Convert Send Delete Payload","func":"function convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":720,"wires":[["f53b7a7e.df26c8","2df0ed71.35fbd2"]]},{"id":"f53b7a7e.df26c8","type":"debug","z":"f8424483.9c7248","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2950,"y":680,"wires":[]},{"id":"6bc88acc.f77064","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3770,"y":680,"wires":[]},{"id":"364952ac.6241ee","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3520,"y":740,"wires":[["634aefb7.243af","6bc88acc.f77064"],["c3819510.b67bf8"]]},{"id":"c3819510.b67bf8","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3770,"y":800,"wires":[]},{"id":"6748485b.3649e8","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3180,"y":680,"wires":[]},{"id":"634aefb7.243af","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3770,"y":740,"wires":[]},{"id":"52d5960b.d3164","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":740,"wires":[["364952ac.6241ee"]]},{"id":"137c9c7d.383a84","type":"function","z":"f8424483.9c7248","name":"Convert Insert DB-SI_SinoPacBank Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\n// msg.payload.send_time = convert_datetime(msg.payload.send_time)\n// msg.payload.expire_time = convert_datetime(msg.payload.expire_time)\n// msg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\n// msg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\n// msg.payload.create_time = convert_datetime(msg.payload.create_time)\n// msg.payload.update_time = convert_datetime(msg.payload.update_time)\n// msg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\n// msg.payload.dr_time = convert_datetime(msg.payload.dr_time)\n// msg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\n// msg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2530,"y":1000,"wires":[["1cdb9d0a.29f39b","e196ef1c.07cef8","905ff952.847ee"]]},{"id":"1cdb9d0a.29f39b","type":"debug","z":"f8424483.9c7248","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3220,"y":900,"wires":[]},{"id":"4c144c90.5a30fc","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4770,"y":900,"wires":[]},{"id":"ba601aaa.19f7a8","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":4260,"y":980,"wires":[[],[]]},{"id":"f787072c.272578","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4770,"y":1020,"wires":[]},{"id":"fab75a37.b5a7c8","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3920,"y":920,"wires":[]},{"id":"9da1f868.3980d","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3630,"y":880,"wires":[]},{"id":"76892ceb.6db70c","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4000,"y":980,"wires":[["ba601aaa.19f7a8"]]},{"id":"b0a04220.3a42f","type":"function","z":"f8424483.9c7248","name":"Convert Update DB-SI_SinoPacBank Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":1240,"wires":[["a7ac5739.058b9","4bf0228b.c88edc"]]},{"id":"a7ac5739.058b9","type":"debug","z":"f8424483.9c7248","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":3220,"y":1140,"wires":[]},{"id":"c68f0222.baef78","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4770,"y":1140,"wires":[]},{"id":"8ca82edd.41758","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":4260,"y":1220,"wires":[[],[]]},{"id":"9e620d61.05b66","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4770,"y":1260,"wires":[]},{"id":"dff5682a.c96b88","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3920,"y":1160,"wires":[]},{"id":"51b3b.05829cc6","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":4750,"y":1200,"wires":[]},{"id":"36733694.9ca48a","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4000,"y":1220,"wires":[["8ca82edd.41758"]]},{"id":"a92466be.abf3f","type":"function","z":"f8424483.9c7248","name":"Convert Delete DB-SI_SinoPacBank Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.actual_send_time = convert_datetime(msg.payload.actual_send_time)\nmsg.payload.finish_time = convert_datetime(msg.payload.finish_time)\n\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.deliver_time = convert_datetime(msg.payload.deliver_time)\n\nmsg.payload.dr_time = convert_datetime(msg.payload.dr_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":1420,"wires":[["e735beed.646f9","1620db6f.315605"]]},{"id":"e735beed.646f9","type":"debug","z":"f8424483.9c7248","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":3200,"y":1320,"wires":[]},{"id":"1620db6f.315605","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"delete from [dbo].[send_record] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3180,"y":1420,"wires":[["52ba5cd8.3b393c","955de4b5.ae5be8"]]},{"id":"b1ab5049.3818b","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4750,"y":1320,"wires":[]},{"id":"8d99a020.d37158","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":4240,"y":1400,"wires":[[],[]]},{"id":"d0d9e19c.d57d1","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4750,"y":1440,"wires":[]},{"id":"52ba5cd8.3b393c","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3900,"y":1340,"wires":[]},{"id":"3be9a652.f5c04a","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":4730,"y":1380,"wires":[]},{"id":"955de4b5.ae5be8","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3980,"y":1400,"wires":[["8d99a020.d37158"]]},{"id":"f02e2678.c8ba28","type":"function","z":"f8424483.9c7248","name":"Convert Insert MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = msg.payload.code || \"\"\nmsg.payload.DestNo = msg.payload.customer_phone || \"\" \nmsg.payload.MsgData = msg.payload.reply_content || \"\"","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":1660,"wires":[["2082f988.a0100e","52e7e6b5.1fc3d8"]]},{"id":"2082f988.a0100e","type":"debug","z":"f8424483.9c7248","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2800,"y":1560,"wires":[]},{"id":"52e7e6b5.1fc3d8","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"f04213fa.c22b48","name":"Cache MsgMo MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[MsgMo](UID,SerialNo,ReceiveTime,MID,DestNo,MsgData) values(@UID,@SerialNo,@ReceiveTime,@MID,@DestNo,@MsgData)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"Char(?)","valueType":"msg","value":"SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"Char(?)","valueType":"msg","value":"ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"Char(?)","valueType":"msg","value":"MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"Char(?)","valueType":"msg","value":"DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2810,"y":1660,"wires":[["4ea3946b.d531ec","b13a271f.de10d"]]},{"id":"7884ea4c.9d9d0c","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3630,"y":1600,"wires":[]},{"id":"9030f38b.847f3","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3380,"y":1660,"wires":[["101b2514.e7149b","7884ea4c.9d9d0c"],[]]},{"id":"4ea3946b.d531ec","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3100,"y":1560,"wires":[]},{"id":"101b2514.e7149b","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3610,"y":1660,"wires":[]},{"id":"b13a271f.de10d","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.payload_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":1660,"wires":[["9030f38b.847f3"]]},{"id":"3be5d7d6.e142c","type":"function","z":"f8424483.9c7248","name":"Convert Update MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = msg.payload.code || \"\"\nmsg.payload.DestNo = msg.payload.customer_phone || \"\" \nmsg.payload.MsgData = msg.payload.reply_content || \"\"","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2480,"y":1860,"wires":[["15ae7a5a.3fff26","b487c4d.17a08b8"]]},{"id":"15ae7a5a.3fff26","type":"debug","z":"f8424483.9c7248","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2800,"y":1760,"wires":[]},{"id":"f6396c2.6f1e19","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3690,"y":1800,"wires":[]},{"id":"c396a87f.6e017","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3440,"y":1860,"wires":[["8c5bef90.957048","f6396c2.6f1e19"],[]]},{"id":"ec57a275.187b6","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3140,"y":1760,"wires":[]},{"id":"8c5bef90.957048","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3670,"y":1860,"wires":[]},{"id":"d5662adc.088e98","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.payload_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3200,"y":1860,"wires":[["c396a87f.6e017"]]},{"id":"a047a34b.e85c9","type":"function","z":"f8424483.9c7248","name":"Convert Delete MsgMo Payload","func":"\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload_uid = msg.payload.UID \nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = msg.payload.code || \"\"\nmsg.payload.DestNo = msg.payload.customer_phone || \"\" \nmsg.payload.MsgData = msg.payload.reply_content || \"\"","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":2060,"wires":[["6b03493.38c07b8","bd2bfcbd.9e0218"]]},{"id":"6b03493.38c07b8","type":"debug","z":"f8424483.9c7248","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2800,"y":1960,"wires":[]},{"id":"bd2bfcbd.9e0218","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"f04213fa.c22b48","name":"Cache MsgMo","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE from [dbo].[MsgMo] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2780,"y":2060,"wires":[["f9819ae7.6bbd","ab77c830.a510f8"]]},{"id":"fe95393e.b7a34","type":"debug","z":"f8424483.9c7248","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3630,"y":2000,"wires":[]},{"id":"28f3dd72.09cb02","type":"switch","z":"f8424483.9c7248","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3380,"y":2060,"wires":[["bb1c7728.58caf8","fe95393e.b7a34"],[]]},{"id":"f9819ae7.6bbd","type":"debug","z":"f8424483.9c7248","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3100,"y":1960,"wires":[]},{"id":"bb1c7728.58caf8","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":3610,"y":2060,"wires":[]},{"id":"ab77c830.a510f8","type":"function","z":"f8424483.9c7248","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.payload_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3120,"y":2060,"wires":[["28f3dd72.09cb02"]]},{"id":"44e2aff5.365f8","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":690,"y":1320,"wires":[]},{"id":"b2f7eac4.c6e5b","type":"inject","z":"f8424483.9c7248","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":1340,"wires":[["44e2aff5.365f8"]]},{"id":"72b476af.196348","type":"switch","z":"f8424483.9c7248","name":"Check Payload Event ","property":"payload.collection","propertyType":"msg","rules":[{"t":"eq","v":"SendProduct","vt":"str"},{"t":"eq","v":"SendRecordProduct","vt":"str"},{"t":"eq","v":"SendRecordReplyProduct","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1380,"y":1660,"wires":[["463945a9.f282d4"],["137c9c7d.383a84"],["f02e2678.c8ba28"],["c6dba2cb.58875"]]},{"id":"b487c4d.17a08b8","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"f04213fa.c22b48","name":"Cache SendRecordReply MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"UPDATE [dbo].[MsgMo] SET SerialNo=@SerialNo,ReceiveTime=@ReceiveTime,MID=@MID,DestNo=@DestNo,MsgData=@MsgData WHERE UID=@UID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"Char(?)","valueType":"msg","value":"SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"Char(?)","valueType":"msg","value":"ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"Char(?)","valueType":"msg","value":"MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"Char(?)","valueType":"msg","value":"DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2860,"y":1860,"wires":[["d5662adc.088e98","ec57a275.187b6"]]},{"id":"4bf0228b.c88edc","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"35b0806c.4ac0e8","name":"Report SendRecord MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"update [dbo].[send_record] set send_uid=@send_uid, way_name=@way_name, serial_number=@serial_number, send_time=@send_time, expire_time=@expire_time, customer_id=@customer_id, customer_phone=@customer_phone, customer_reference=@customer_reference, req_group_id=@req_group_id, req_uid=@req_uid, content=@content, return_code=@return_code, calc_section=@calc_section, sending_section=@sending_section, section=@section, success_section=@success_section, failure_section=@failure_section, section_status_list=@section_status_list, is_long=@is_long, is_international=@is_international, msg_id=@msg_id, actual_send_time=@actual_send_time, actual_send_phone=@actual_send_phone, gateway_id=@gateway_id, status=@status, resp_code=@resp_code, gwrecvat=@gwrecvat, acceptat=@acceptat, sendat=@sendat, finish_time=@finish_time, meta=@meta, create_time=@create_time, update_time=@update_time, deliver_time=@deliver_time, dr_time=@dr_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time where uid=@uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"return_code","type":"VarChar(?)","valueType":"msg","value":"payload.return_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"TinyInt","valueType":"msg","value":"payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sending_section","type":"TinyInt","valueType":"msg","value":"payload.sending_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section","type":"TinyInt","valueType":"msg","value":"payload.section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"success_section","type":"TinyInt","valueType":"msg","value":"payload.success_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"failure_section","type":"TinyInt","valueType":"msg","value":"payload.failure_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"section_status_list","type":"VarChar(?)","valueType":"msg","value":"payload.section_status_list","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_long","type":"TinyInt","valueType":"msg","value":"payload.is_long","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"is_international","type":"TinyInt","valueType":"msg","value":"payload.is_international","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_id","type":"VarChar(?)","valueType":"msg","value":"payload.msg_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_time","type":"DateTime2","valueType":"msg","value":"payload.actual_send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"actual_send_phone","type":"VarChar(?)","valueType":"msg","value":"payload.actual_send_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gateway_id","type":"Int","valueType":"msg","value":"payload.gateway_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"resp_code","type":"VarChar(?)","valueType":"msg","value":"payload.resp_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"gwrecvat","type":"VarChar(?)","valueType":"msg","value":"payload.gwrecvat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"acceptat","type":"VarChar(?)","valueType":"msg","value":"payload.acceptat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"sendat","type":"VarChar(?)","valueType":"msg","value":"payload.sendat","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"finish_time","type":"DateTime2","valueType":"msg","value":"payload.finish_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"meta","type":"NVarChar(?)","valueType":"msg","value":"payload.meta","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"deliver_time","type":"DateTime2","valueType":"msg","value":"payload.deliver_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"dr_time","type":"DateTime2","valueType":"msg","value":"payload.dr_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3200,"y":1240,"wires":[["dff5682a.c96b88","36733694.9ca48a"]]},{"id":"e196ef1c.07cef8","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, [dbo].[send_record].serial_number as SerialNum, [dbo].[send_record].req_group_id as GUID, [dbo].[send_record].customer_phone as MPhoneNum, [dbo].[send_record].content as MsgData, [dbo].send.priority as Priority, [dbo].[send_record].send_time as BookingTime, DATEDIFF(SECOND,[send_record].send_time,[send_record].expire_time) as ExpireTime, [dbo].send.req_department as DepID, [dbo].send.msg_type as MsgType, [dbo].send.memo as Memo , [dbo].[send_record].customer_id as SenderID, [dbo].send.req_bu as Bu, [dbo].send.req_company as Company, [dbo].send.req_channel as Channel, [dbo].[send_record].customer_reference as Reference from send_record, send where send_record.uid='{{{payload.uid}}}' and send_record.send_uid = send.uid\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"VarChar","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3220,"y":1000,"wires":[["fab75a37.b5a7c8","c5ee22fa.a3e368","9da1f868.3980d","28dee7ef.c9d68"]]},{"id":"5d9fd7c3.bf7ea","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":1590,"y":760,"wires":[]},{"id":"c5ee22fa.a3e368","type":"debug","z":"f8424483.9c7248","name":"Debug Send Record Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.recordsets[0][0]","targetType":"msg","statusVal":"","statusType":"auto","x":4080,"y":1060,"wires":[]},{"id":"842357f1.f77b28","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"b61f10da.9ee238","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[send](uid, event_code, way_name, send_from, send_time, expire_time, template_code, template_max_length, send_mode, limit_mode, mod_reply, status, priority, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, req_batch_id, memo, create_time, create_user, update_time, update_user, completed_time, canceled_time, update_expired_time) values(@uid, @event_code, @way_name, @send_from, @send_time, @expire_time, @template_code, @template_max_length, @send_mode, @limit_mode, @mod_reply, @status, @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @req_batch_id, @memo, @create_time, @create_user, @update_time, @update_user, @completed_time, @canceled_time, @update_expired_time)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2960,"y":340,"wires":[[]]},{"id":"463945a9.f282d4","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":1430,"y":1440,"wires":[]},{"id":"b875da77.4a5ae","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":1390,"y":1400,"wires":[]},{"id":"c6dba2cb.58875","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":1630,"y":1760,"wires":[]},{"id":"905ff952.847ee","type":"nats-streaming-acknowledge","z":"f8424483.9c7248","name":"STAN ACK","x":2770,"y":900,"wires":[]},{"id":"625c1f08.42b68","type":"MSSQL","z":"f8424483.9c7248","mssqlCN":"f04213fa.c22b48","name":"Report Send Table MSSQL X","outField":"payload","returnType":"1","throwErrors":"0","query":"\nINSERT INTO [dbo].[SI_SinoPacBank](UID, SerialNum, GUID, MPhoneNum, MsgData, Priority,BookingTime,ExpireTime,DepID, MsgType, Memo ,SenderID ,Bu ,Company,Channel,Reference) VALUES(@UID, @SerialNum, @GUID, @MPhoneNum, @MsgData, @Priority,@BookingTime,@ExpireTime,@DepID, @MsgType, @Memo ,@SenderID ,@Bu ,@Company,@Channel,@Reference)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNum","type":"Int","valueType":"msg","value":"payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GUID","type":"VarChar(?)","valueType":"msg","value":"payload.GUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MPhoneNum","type":"VarChar(?)","valueType":"msg","value":"payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Memo","type":"VarChar(?)","valueType":"msg","value":"payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SenderID","type":"VarChar(?)","valueType":"msg","value":"payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Bu","type":"VarChar(?)","valueType":"msg","value":"payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Company","type":"VarChar(?)","valueType":"msg","value":"payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Channel","type":"VarChar(?)","valueType":"msg","value":"payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Reference","type":"VarChar(?)","valueType":"msg","value":"payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Priority","type":"int","valueType":"msg","value":"payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BookingTime","type":"DateTime","valueType":"msg","value":"payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"Int","valueType":"msg","value":"payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DepID","type":"VarChar(?)","valueType":"msg","value":"payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3600,"y":1080,"wires":[[]]},{"id":"28dee7ef.c9d68","type":"function","z":"f8424483.9c7248","name":"Get Result","func":"\nmsg.payload = msg.payload.recordsets[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3400,"y":1080,"wires":[["625c1f08.42b68"]]}]